# ---------------------------
# .NET / C# / Avalonia
# ---------------------------

# Build Folders
bin/
obj/

# Rider / IDE folders
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# VS Code settings if ever used
.vscode/

# OS files
*.DS_Store
*.Thumbs.db
